.mode {
  display: flex;
  width: fit-content;
  padding: 2px;
  margin: 0 auto;
  background: var(--surface-ui-regular);
  border-radius: var(--radius);
}

.done {
  display: block;
  width: 96px;
  height: 36px;
  line-height: 36px;
  color: inherit;
  text-align: center;
  text-decoration: none;
  border-radius: calc(var(--radius) - 2px);
  background: none;
  border: none;
}

.done:hover {
  background: var(--surface-1);
}

.done:active {
  background: none;
}

.field_hotkey2 {
  position: absolute;
  inset-inline-start: 128px;
  bottom: 44px;
  width: 16px;
  height: 16px;
  font-size: 10px;
  font-weight: bold;
  line-height: 16px;
  color: var(--text-note);
  text-align: center;
  text-transform: uppercase;
  border: 1px solid var(--text-note);
  border-bottom-width: 2px;
  border-radius: 2px;

  @media (width < 830px) {
    display: none;
  }
}
